body {
  background-color: coral;
}


.interaction-form .field .checkbox {
    display: block !important;
    position: relative !important;
    padding: 5px 2px 80px 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #444040 !important;
    overflow: hidden !important;
    text-decoration: none !important;
}
  
